
body {
    background-color: #fdfdfd; 
  /* background-color: #f5c359;  */
}



/* Banner Destaque */
.destaque-adocao{
    background-image: url(../img/banner-adote.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 93vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--quaternary-color);
    font-weight: 300;


}

.destaque-texto{
    margin: 0 auto;
    max-width: 1000px;
    width: calc(
      100% - 100px
    ); 
    color: #271508;
}

.destaque-texto p{
  font-weight: 400;
}

.destaque-adocao p{
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing);
    max-width: 700px;
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #865306;
}
  
.destaque-adocao h2 {
font-size: clamp(2rem, 10vw, 6.3rem);
max-width: 735px;
margin: 24px 0;
}





  /* Filtro de gatos e cachorros */


.hide{
    display: none;
}

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #fffefa;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background: rgb(254,151,31);
    background: linear-gradient(186deg, rgba(254,151,31,1) 7%, rgba(255,187,72,1) 90%);
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 8px 0 0 8px;
}

.switch-field label:last-of-type {
	border-radius: 0 8px 8px 0;
}
.form-switch{
    display: flex;
    justify-content: center;
}


        /* Cards de animais */

.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    max-width: 300px;
    min-height: 250px;
    background: #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #1b1816;
    margin:20px;
    box-shadow: rgba(196, 182, 168, 0.25) 0px 20px 39px -9px, rgba(185, 175, 130, 0.3) 0px 14px 20px -14px;
    overflow: hidden;
    transition: all 0.6s ease;
    cursor:default;
    margin-bottom: 75px;
    font-family: var(--font-family-primary);
}
.card:hover{
    box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px ;

}
/* .card:nth-child(2){
   background: #4181ee;
}
.card:last-child{
   background: #673ab7;
} */

.card-titulo{
    width: 200px;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 0 5px 16px;
    margin-bottom: 8px;
    border-bottom: 4px solid #FFAC1C;
}
.sub-titulo-card{
    padding: 5px 0 5px 16px;
    font-weight: bold;
    font-size: 1.3rem;
}
.card-content{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    padding: 15px 22px 24px 22px;

}
.card-btn{
    all: unset;
    display: block;
    margin: 7px auto 20px auto;
    border: 2px solid #e68c18;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}
.card-btn a{
    text-decoration: none;
    color: #030a1d;
}

.card-btn:hover{
    background-color: #ffac1c3f;
    cursor: pointer;
}
/* .card-btn:hover{
   color:#02b875;
   background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
   color:#4181ee;
   background: #FFF;
}
.card:last-child .card-btn:hover{
   color:#673ab7;
    background: #FFF;
} */


.faq{
    margin: 8rem auto 12rem auto;
  
  }
  .faq small, .texto small{
    display: block;
    text-align: center;
    margin-top: 3rem;
  }
  
  .faq h2{
    text-align: center;
    margin-bottom: 4.5rem;
    color: #101f46;
    font-size: 2.3rem;
  }
  summary{
    margin-left: 5rem;
  }
  details{
    background-color: #fff9e9;
    width: 73%;
    margin: 1.5rem auto;
    padding: 1.3rem;
    border-radius: 5px;
    color: #c7770e;
    font-size: 17px;
    border: solid 1px rgb(216, 126, 24);
  }
  .conteudo-faq{
    margin: 24px 0 0 40px;
  }
  

  @media screen and (max-width: 500px) {
    summary{
        margin-left: 1.4rem;
      }
    .faq{
      width: 100%;
    }
  }