body {
    background-color: #fdfdfd; 
    color: #301b0b;
  /* background-color: #f5c359;  */
}

.destaque-adocao{
    background-image: url(../img/banner-contato.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--quaternary-color);
    font-weight: 300;


}

.destaque-texto{
    margin: 0 auto;
    max-width: 1000px;
    color: #271508;
    width: calc(
      100% - 100px
    ); 
    
}

.destaque-adocao p{
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing);
    max-width: 700px;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: #864006;
}
  
.destaque-adocao h2 {
font-size: clamp(2rem, 10vw, 6.3rem);
max-width: 735px;
margin: 24px 0;
}

#contatos-container{
    display: flex;
    justify-content: center;
}

.contato-form{
    position: relative;
    top: -150px;
    cursor: pointer;

    /* background-color: #776a5b; */
    /* background-color: #FFBE41; */
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120%;
  }

  .contato-form form{
    margin: auto;
    border: solid 2px #F9A248;
    border-radius: 6px;
    width: 64%;
    height: 100%;
    padding: 48px 31px;
    /* background-color: #f19f40; */
    background-color: #ffffff;
    color: rgb(218, 112, 13);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.212);
  }
  
  .contato-form form input, .contato-form textarea{
    border-radius: 10px;
    border: solid 1px rgb(192, 120, 12);
    margin-bottom: 20px;
    padding-left: 10px;
    width: 100%;
  }

  .contato-form form input{
    height: 42px;
  }


  .contato-form form p{
    margin-bottom: 40px;

  }

  .todos-contatos{
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    color: #F26A1E;
    font-weight: bold;
    
}
.todos-contatos ul{
      list-style: none;
}

.todos-contatos ul div{
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 0;
}
.todos-contatos ul li{
  margin-left: 20px;
}

.todos-contatos ul img{
  height: 56px;
  cursor: pointer;
}

.text-contatos{
  font-weight: 500;
  font-size: 20px;
  width: 78%;
}

.text-contatos img{
  height: 300px;
  float: right;
  margin: 10px;
}
/* Plugin lightbox */
.fotos-ong{
  margin: 80px auto;
}
.galeria-ong{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.galeria-ong img{
  height: 200px;
  margin-top: 10px;
  
}

@media screen and (max-width: 1000px) {
  #contatos-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .todos-contatos{
    width: 80%;
    margin-bottom: 14px;
    font-size: 1.9rem;
  }
  .contato-form{
    position:relative;
    top: 0px;
    cursor: pointer;
    width: 80%;
  }
  .text-contatos img{
    display: none;
  }
  .text-contatos{
    font-size: 2rem;
    margin-top: 11rem;
    width: 72%;
  }
  
}
@media screen and (max-width: 800px) {

  .contatos-container{
    width: 100%;
  }
  .todos-contatos{
    width: 85%;
    margin-bottom: 14px;
  }

  .contato-form form{
    width: 95%;
  }
  form{
    margin: 0;
    padding: 0%;
  }
}